{% extends "base.html" %} {% load static %}
{% block title %} login {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h5>Don't have an account?</h5>
            <h5>Click<a href='{% url "userprofile:register" %}'> register</a> join us！</h5>
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">submit</button>

            </form>
        </div>
    </div>
</div>
{% endblock content %}
