{% extends "base.html" %}
{% load static %}
{% block title %}
    detail
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">

            <h1 class="col-12 mt-4 mb-4">{{ article_detail.title }}</h1>
            <div class="col-12 alert alert-success">author：{{ article_detail.author }}

                <a href="#" onclick="confirm_delete()">delete</a>
                <a href="{% url 'article:article_update_article_urls' article_detail.id %}">update</a>
                <form
                        style="display: none"
                        id="safe_delete"
                        method="post"
                        action="{% url 'article:article_delete_article_urls' article_detail.id %}">
                    {% csrf_token %}
                    <button type="submit">sent</button>
                </form>
            </div>
            <div class="col-12">
                <p>{{ article_detail.body|safe }}</p>
            </div>


        </div>
    </div>

    <script>
        function confirm_delete() {
            layer.open({
                title: 'confirm delete',
                content: 'confirm delete?',
                btn: 'confirm',
                yes: function (index, layero) {
                    $('form#safe_delete button').click();
                    layer.close(index);
                }
            })
        }
    </script>
{% endblock content %}
