{% extends "base.html" %} {% load static %}
{% block title %} update {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">title</label>

                    <input type="text" class="form-control" id="title" name="title" value="{{ article_detail.title }}">
                </div>
                <div class="form-group">
                    <label for="body">body</label>

                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ article_detail.body }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
